body{
    background:url(https://cdn.discordapp.com/attachments/796237389789397043/873306986702340138/BG.png);
   }
   #main{
       text-align: center;
       margin: auto;
       background:#00000080;
       width:600px; 
       height:530px;
       box-sizing: border-box;
       padding:20px;
       border-radius:20px;
   }
   #title-div{
       text-align: center;
   }
   #title{
       color: #fff;
       font-family: Verdana, Tahoma, sans-serif;
       text-shadow: 4px 3px #868686;
       font-size: 50px;
   }
   #button-play{
    width:100%;
    height:60px;
    background:#31a22a;
    border:0px;
    font-size:30px;
    color:white;
    font-family:verdana;
    border-radius:10px;
   }
   .boton:hover{
     background-color: gold;
   }
   .boton{
       width:78px;
       height:38px;
       border-radius:5px;
       margin-top:14px;
       border:0px;
       margin-left:5px;
       background: #a2a2a2;
       color: #fff;
       font-size: 20px;
   }
   .select{
       width:140px;
       height:27px;
       margin-top:14px;
       outline: none;
       border-radius:3px;
       border:0px;
   }
   
   
   .title{
       font-size: 27px;
       color: #fff;
       font-family: verdana;
   }
   .boton-color{
       width:40px;
       height:41px;
      display: inline-block;
   }
   .boton-color:active{
    box-sizing: border-box;
    border:5px solid black;
   }
   .armor-style{
       display: inline-block;
       border-radius: 4px;
       width: 47px;
       height: 49px;
       background: #a7a2a2;
   }
   .img-armor{
     width:100%;
   }
   .armor-style:active{
    box-sizing: border-box;
    border:5px solid black;
   }
   .armor-style:hover{
    box-sizing: border-box;
     border:5px solid black;
     background-color: gold;
        width: 49px;
       height: 49px;
   }
   .hoverFat985{
       display: inline-block;
       border-radius: 4px;
       background: #a7a2a2;
           width: 40px;
       height: 40px;
   }
   .hoverFat985:hover{
     box-sizing: border-box;
     border:5px solid black;
     background-color: gold;
   }
   .guns{
      display:inline-block;       
      user-select:none;
     box-sizing: border-box;
   }

	 .guns:hover{
     border:5px solid black;
		   box-sizing: border-box;
			 background-color: blue;
	 }
